<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ambarishkarole"
    android:installLocation="auto"
    android:versionCode="5"
    android:versionName="1.5" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:icon="@drawable/ambarish"
        android:label="@string/app_name" >
        <activity
            android:name=".TickleGorilla"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.ambarishkarole.TICKLEGORILLA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bio"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.ambarishkarole.BIO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DerezzedDiamonds"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.GIF1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ambarishkarole.IMAGEMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JSONTwitter"
            android:label="JSONTwitter" >
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ambarishkarole.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Email"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.ambarishkarole.EMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TouchPaper"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.ambarishkarole.TOUCHPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TouchPaper2"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.ambarishkarole.TOUCHPAPER2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Publication"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.ambarishkarole.PUBLICATIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OpenedClass"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SQLiteExample"
            android:label="SQLiteExample" >
        </activity>
        <activity
            android:name=".SQLView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ambarishkarole.SQLVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Data"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GFX"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GFXSurface"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Speaker"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.ambarishkarole.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ambarishkarole.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Schools"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>